<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: "帳號", required: false, autofocus: true, stakeholder: "E-Mail帳號" %>
    <%= f.input :password, label: "密碼", required: false %>
    <%= f.input :remember_me, label: "記住我", as: :boolean if devise_mapping.rememberable? %>
    <%= f.input :captcha do %>
      <%= show_simple_captcha %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<%= link_to "使用Facebook登入", user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-block"%>
<%= link_to "使用Google+登入", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary btn-block"%>
<%= link_to "使用GitHub登入", user_github_omniauth_authorize_path, class: "btn btn-primary btn-block"%>

<%= render "users/shared/links" %>
