<br>
<div class="container">
  <div class="page-header">
    <h1>我參加的活動</h1>
  </div>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img data-src="holder.js/300x300" alt="...">
          <div class="caption">
            <h3><%= event.topic %></h3>
            <p>
            主 辦 人 : <%= event.owner.email %><br>
            開始時間 : <%= event.start_time %><br>
            結束時間 : <%= event.end_time %><br>
            活動地點 : <%= event.location %><br>
            </p>
            <p><%= link_to("活動詳情", event_path(event), class: "btn btn-primary btn-block", role: "button") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
