<%= simple_form_for @beef do |f| %>
<div class="form-group">
  <%= f.input :title, input_html: { class: "form-control"}, label: '標題'%>
  <%= f.input :description, input_html: { class: "form-control"}, label: '內容'%>
  <%= f.input :tag_list, input_html: { class: "form-control"}, label: '標籤(兩個以上請用空白分開)' %>
</div>
<%= f.submit "提交新資源", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
<% end %>
