<div class="container-fluid" style="padding: 15px 30px 15px 50px;">
  <div class="row">

    <div class="col-md-4 col-md-offset-4">
      <h1>修改資源內容</h1>

      <hr>
      <%= simple_form_for @beef do |f| %>
        <div class="form-group">
          <%= f.input :title, label: '標題' %>
          <%= f.input :description, label: '內容' %>
          <%= f.input :tag_list, label: '標籤(兩個以上請用逗號分開)' %>
        </div>
        <%= f.submit "提交新內容", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
      <% end %>
    </div>

  </div>
</div>
