<div class="container-fluid" style="padding: 15px 30px 15px 50px;">
  <div class="row">

    <div class="col-md-9">
      <div class="group">
        <%= link_to("加入新資源", new_beef_path, class: "btn btn-primary pull-right") %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <td>#</td>
            <td>標題</td>
            <td>內容</td>
            <td>標籤</td>
          </tr>
        </thead>
        <tbody>
          <% @beefs.each do |beef| %>
            <tr>
              <td>#</td>
              <td><%= link_to(beef.title, beef_path(beef)) %></td>
              <td><%= beef.description %></td>
              <td>
                <%= raw beef.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
              </td>
              <td>
                  <%= link_to("編輯", edit_beef_path(beef), class: "btn btn-sm btn-default")%>
                  <%= link_to("刪除", beef_path(beef),    class: "btn btn-sm btn-default",
                              method: :delete, data: { confirm: "確定要刪除嗎？" } )%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <div id="tag_cloud">
        <% tag_cloud Beef.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>

        <% end %>
      </div>
    </div>

  </div>
</div>
