<div id="beef-main" class="container-fluid">
      <article class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
          <div class="row">
            <h1 style="color:white;">資源分享</h1>
            <% if current_user %>
              <%= link_to("加入新資源", new_beef_path, class: "btn btn-primary pull-right") %>
            <% end %>
          </div>
          <ul class="block-list">
            <% @beefs.each do |beef| %>
              <li>
                <section class="beef-section">
                  <div class="card-block">
                    <p class="card-text">
                      <%= raw(beef.description) %>
                    </p>
                  </div>
                  <div class="card-body">
                    <h2 class="card-title"><%= link_to(beef.title, beef_path(beef),class: "beef-title") %></h2>
                    <ul class="author-info">
                      <li>
                        <%= user_image(beef.user, 30, "round-image") %>
                      </li>
                      <li>
                        <%= beef.user.name %>
                      </li>
                      <li>
                        <%= beef_createtime(beef.created_at) %>
                      </li>
                    </ul>
                  </div>
                </section>
                <br>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-4 col-md-3">
          <div id="tag_cloud">
            <% tag_cloud Beef.tag_counts, %w[s m l] do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class %>

            <% end %>
          </div>
        </div>
      </article>
</div>
<style media="screen">
  #beef-main{
    background-image: url(<%=image_path("beef_background.jpg")%>);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:center;
    background-position: center;
  }
  .beef-section{
    background-color: #FFFFFF;
  }
  .card-block{
    padding: 10px;
    height: 180px;
  }
  .card-body{
    background-color: #F7F7F7;
    height: 80px;
  }
  .card-body ul li{
    display: inline;
  }
  .block-list{
    list-style-type: none;
  }
  .card-title{
    padding: 0px 20px;
  }
  A.beef-title:link  {text-decoration: none; color: #776d6d;}
  A.beef-title:visited {text-decoration: none; color: #776d6d;}
  A.beef-title:hover {text-decoration: underline; color: #776d6d;}
  A.beef-title:active {text-decoration: none; color: #776d6d;}
</style>
