<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="group">
        <% if current_user %>
          <%= link_to("編輯", edit_beef_path(@beef), class: "btn btn-primary pull-right")%>
        <% end %>
      </div>
      <h2><%= @beef.title %></h2>
      <p><%= raw(@beef.description) %></p>
      <p>標籤：<%= raw @beef.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      <%= render "common/disqus" %>
    </div>
  </div>
</div>
