<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="group">
        <% if current_user?(@beef.user) %>
          <%= link_to(I18n.t('resource.edit'), edit_beef_path(@beef), class: "btn btn-primary pull-right", style: "margin:20px")%>
        <% elsif current_user && current_user.is_member_of?(@beef.event) %>
          <%= link_to(I18n.t('resource.co_editor'), edit_beef_path(@beef), class: "btn btn-primary pull-right", style: "margin:20px")%>
        <% end %>
      </div>
      <h2><%= @beef.title %></h2>
      <p><%= I18n.t('resource.tag') %>：<%= raw @beef.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      <% if @beef.event %>
        <p><%= I18n.t('resource.from') %>：<%= link_to(@beef.event.topic, event_path(@beef.event)) %> </p>
      <% end %>
      <p><%= raw(@beef.description) %></p>
      <%= render "common/disqus" %>
    </div>
  </div>
</div>
