<br>
<div class="container">
<div class="jumbotron">
  <br>
  <h1><%= @user.name %></h1>
  <br>
</div>

<div class="page-header">
  <h1><%=  @user.name %></h1>
  <%= image_tag @user.gravatar_url(:size => 300, :default => 'https://dl.dropboxusercontent.com/u/1252720/_rortc/ROR.jpg') %>
</div>

<div>
  <section>
    信箱：<%= @user.email %><br>
  </section>
  <section class="stats">
  <%= render 'users/shared/stats' %>
  <%= render 'users/follow_form' if signed_in? %>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th>
          <% if @user.editable_by?(@user, current_user) %>
            <%= link_to("連結新增", new_user_profile_path(@user), class: "btn btn-warning") %>
            <%= link_to("圖片新增", new_user_image_path(@user), class: "btn btn-warning") %>
            <%= link_to("個資管理", edit_user_path(@user), class: "btn btn-warning", role: "button") %>
          <% end %>
        </th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'profiles' %>
    </tbody>
  </table>
</div>
<div>
  <% @images.each do |image| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag image.url.thumb %>
        <% if @user.editable_by?(@user, current_user) %>
            <%= link_to("刪除", user_image_path(image.user, image), method: :delete, data: { confirm: "確定刪除?"}) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<hr>
</div>
<br>
