<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="page-header">
        <h1>建立活動圖片</h1>
      </div>
          <%= image_tag @event.photo_url(:large), id: "cropbox" %>
        <hr>
        <h4>Preview</h4>
        <div style="width:300px; height:150px; overflow:hidden">
          <%= image_tag @event.photo.url(:large), :id => "preview" %>
        </div>
        <%= form_for @event do |f| %>
          <% %w[x y w h].each do |attribute| %>
          <%= f.hidden_field "crop_#{attribute}" %>
        <% end %>
        <div class="actions">
          <br><%= f.submit "Crop", class: "btn btn-primary", role: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
