<div class="container">
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="page-header">
      <h1>創立活動</h1>
    </div>
    <%= simple_form_for @event do |f| %>
      <div class="form-group">
        <%= f.simple_fields_for :event_photo do |c| %>
          <%= c.input :image, as: :file, required: true, label: '新增活動主題圖片(建議尺寸1280x360)' %>
        <% end %>
      </div>
      <%= f.input :topic, required: true, label: '這次活動的主題？' %>
      <%= f.input :start_time, as: :date_time_picker, required: true, label: '開始時間' %>
      <%= f.input :end_time, as: :date_time_picker, required: true, label: '結束時間' %>
      <%= f.input :location, required: true, label: '活動地點' %>
      <%= f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }, required: true, label: '活動內容' %>
      <%= f.submit 'Save', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
<br>
