<br>
<div class="container">
  <div class="page-header">
    <h1>管理活動</h1>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>活動ID</th>
          <th>活動主旨</th>
          <th>參加人數</th>
          <th>活動時間</th>
          <th>狀 態</th>
          <th>管 理</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= truncate(event.topic, length: 18) %></td>
            <td><span class="badge"><%= event.members.size %>位</span></td>
            <td><%= event.start_time.to_s(:normal) %> ~ <%= event.end_time.to_s(:normal) %></td>
            <td>
              <% if event.is_active? %>
                <span class="label label-primary"><%= "活動中" %></span>
              <% else %>
                <span class="label label-default"><%= "已關閉" %></span>
              <% end %>
            </td>
            <td>
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <%= link_to("詳情", account_my_event_path(event), class: "btn btn-primary", role: "button") %>
              <%= link_to("修改", edit_event_path(event), class: "btn btn-warning", role: "button") %>
              <%= link_to("刪除", event_path(event), data: { confirm: "你確定要刪除嗎？" }, method: :delete, class: "btn btn-danger", role: "button") %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

