<br>
<div class="container">
  <div class="page-header">
    <h1>管理活動</h1>
  </div>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(event.event_photo.image.thumb.url) %>
          <div class="caption">
            <h3><%= event.topic %></h3>
            <h4>目前有 <%= event.members.size %> 位夥伴參加</h4>
            <p>
            主 辦 人 : <%= event.owner.name %><br>
            開始時間 : <%= event.start_time.to_s(:normal) %><br>
            結束時間 : <%= event.end_time.to_s(:normal) %><br>
            活動地點 : <%= event.location %><br>
            </p>
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to("詳情", account_my_event_path(event), class: "btn btn-primary", role: "button") %>
              <%= link_to("修改", edit_event_path(event), class: "btn btn-warning", role: "button") %>
              <%= link_to("刪除", event_path(event), data: { confirm: "你確定要刪除嗎？" }, method: :delete, class: "btn btn-danger", role: "button") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
