<footer>
  <div class="container-fluid" style="background-color: #222;padding: 50px 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p style="color:white;">
          <strong style="color:gray;"><%= I18n.t('meeting_place') %></strong>
          <br><%= I18n.t('address') %>
          <br><%= I18n.t('location') %>
          <br><br><br>
          <strong style="color:gray;"><%= I18n.t('contact_us') %></strong>
          <br>Email: rails.taichung@gmail.com
        </p>
      </div>
      <div class="col-xs-12 col-md-3">
        <p style="color:white;">
          <strong style="color:gray;">Links</strong><br>
          <%= link_to("Rails Taichung Website", "http://rails-taichung.com/") %><br>
          <%= link_to("Rails Taichung Facebook", "https://www.facebook.com/groups/RORTaichung/") %><br>
          <%= link_to("Rails Taichung GitHub", "https://github.com/railstaichung/rails-taichung") %><br>
          <%= link_to("Rails Taichung Slack", "https://rortc.herokuapp.com/") %>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <strong style="color:gray;">Subscribe</strong><br>
        <%= render 'common/subscribe' %>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #222;padding-bottom: 10px;">
    <p class="text-center" style="color:gray;"><%= I18n.t('copyright') %></p>
  </div>
</footer>
