<footer>
  <div class="container-fluid" style="background-color: #222;padding: 50px 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <p style="color:white;">
          <strong style="color:gray;"><%= I18n.t('meeting_place') %></strong>
          <br><%= I18n.t('address') %>
          <br><%= I18n.t('location') %>
          <br><br><br>
          <strong style="color:gray;"><%= I18n.t('contact_us') %></strong>
          <br>Email: rails.taichung@gmail.com
        </p>
      </div>
      <div class="col-xs-12 col-md-3">
        <p style="color:white;">
          <strong style="color:gray;">Links</strong><br>
          <a href="http://">RoR Taichung 官網</a><br>
          <a href="http://">RoR Taichung FB Group</a><br>
          <a href="http://">RoR Taichung Github</a><br>
          <a href="http://">RoR Slack 線上頻道</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-6 visible-lg-block">
        <div>
          <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:Ei00MDTlj7DngaPlj7DkuK3luILljJfljYDkuK3muIXot6_kuIDmrrU0NTTomZ8" allowfullscreen="" width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #222;padding-bottom: 10px;">
    <p class="text-center" style="color:gray;"><%= I18n.t('copyright') %></p>
  </div>
</footer>
