<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <title>Rails 台中</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'rortc30.jpg' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= render "common/navbar" %>
<%= render "common/flash" %>
<%= yield %>
<%= render "common/footer" %>
</body>
</html>
