
<p><%= @name %>，歡迎您加入Rails台中的大家庭：</p>

<p>請點選連結驗證E-mail信箱完成註冊：</p>

<p><%= link_to '驗證E-Mail', confirmation_url(@resource, confirmation_token: @token) %></p>

<div id="mail_background">
  <div class="container-fluid" style="background-color: rgba(250,250,250,0.8); height: 450px; width:720px;position: absolute;top: 50%;left: 50%;margin: -225px 0 0 -360px;">
    <div style="height:440px; width:710px;border-style:solid;border-width:2px;border-radius: 10px; margin:2px 0 0 2px">
    <h2><%= @name %>歡迎您加入Rails台中：</h2>
    <hr>
      <div id="mail_body">
       <p>不想看下面的廢話的話，請直接點選連結驗證E-mail信箱完成註冊：<%= link_to '驗證E-Mail', confirmation_url(@resource, confirmation_token: @token) %></p>
       <p>關於我們</p>
       <p>我們是一群喜歡用Ruby on Rails進行開發的伙伴，成員的組成來自各種不同的行業，唯一的共同點就都是喜歡宅在家看技術文章跟寫Code當吃補的宅男宅女，
          雖說我們以Rails做為聚集的出發點，但討論內容並不侷限在Rails，舉凡生活周遭大小事到創業求職都在我們LDS射程範圍內。我們也深信唯有實戰才會有所成長，
          因此Rails台中的交流方式就是透過一次次的專案開發來讓成員獲得經驗與成長，從需求討論、系統分析、專案管理的soft skill到版本管理、程式開發技巧的hard skill都有機會親身經驗體驗過，
          當然我們也很歡迎只想來LDS的朋友來分享自身的經驗XD，Anyway，<%= @name %>再次歡迎您的加入。 </p>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  div#mail_background{
    background-image: url(http://localhost:3000/assets/images/pexels-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:center;
    background-position: center;
    height:500px;
    width:800px;
    position: absolute;
  }
  div#mail_body{
    line-height:32px !important;
    background-image:url(http://localhost:3000/assets/images/letter_line.jpg) !important;
    background-position: bottom;
    background-repeat: repeat;
    background-attachment:fixed;
  }
</style>
