<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= I18n.t("change_password") %></h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, label:I18n.t("password") ,autocomplete: "off", hint: I18n.t("password_hint"), required: false %>
            <%= f.input :password_confirmation, label:I18n.t("password_confirmation"), required: false %>
            <%= f.input :current_password, label:I18n.t("current_password"),hint: I18n.t("current_password_hint"), required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, I18n.t("update_btn"), class: "btn btn-primary btn-lg btn-block" %>
          </div>
        <% end %>
        <br>
      </div>
    </div>
</div>
